# Top-level build
/build*

# Nested build dirs
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake-build-*/
**/_deps/
**/generated/
**/compile_commands.json

# IDE/editor
/.vscode
.idea/
.DS_Store
.clangd

# CPM cache
/cpm_modules

# Optional local vendored dependency checkouts
/third_party/asio-grpc/
/third_party/cpp-httplib/
/third_party/cxxopts/
/third_party/eventpp/
/third_party/fmt/
/third_party/spdlog/
