# Top-level build
/build*

# Nested build dirs
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake-build-*/
**/_deps/
**/generated/
**/compile_commands.json

# IDE/editor
/.vscode
.idea/
.DS_Store
.clangd

# CPM cache
/cpm_modules
